table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
.editbtn{
    background-color: green;
    color: white;
    border: none;
    border-radius: 2px;
    padding: px;
    padding: 3px 8px 3px 8px;
    margin-right: 8px;
}
.deletebtn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    padding: px;
    padding: 3px 8px 3px 8px;
}
.container {
    padding: 20px;
  }