<div class="container" *ngIf="dataarray.length>=1">
  <h2>List Details</h2>
  <table >
  <thead>
      <tr>
          <th>Sno.</th>
          <th>Task</th>
          <th>Task Details</th>
          <th>Action</th>
        </tr>
  
  </thead>
  <tbody>
      <tr *ngFor="let item of dataarray;let x=index">
          <td>{{x+1}}</td>
          <td>{{item.task}}</td>
          <td>{{item.taskdetails}}</td>
          <td><button class="editbtn" (click)="toedit(x)">edit</button><button class="deletebtn" (click)="todelete(x)">delete</button></td>
        </tr>
  </tbody>
  </table>
</div>

